flask
fpdf
pandas
numpy
pandas
flask_cors
scikit-learn
requests
Pillow
gunicorn == 20.0.4
tensorflow-cpu --no-cache-dir
SpeechRecognition
google-generativeai
openai
requests
python-dotenv
werkzeug
pymongo
